@media screen and (max-width:768px) {
    .nav-toggle{
        display: block;
    }
    /* .nav-links{
       position: absolute;
        background-color: #fff;
        color: aquamarine;
        left: 0;
        top: 0;
        top:100%;
        width: 100%;
        padding-block:20px ;
        flex-direction: column;
    } */
    
    /* section .container{
        overflow: initial;
    } */

    .container ul li{
        display: none;
    }
    

    div.article img{
    padding: 14px;
    padding-right: 160px;
    }
    div.article h1{
        font-size: 25px;
    }
    div.article a.btn{
        padding: 17px;
    }
    div.about-section{
        columns:1;
    }
    div.container1{
        margin-bottom: 20px;
        padding: 20px;
    }
    div.container2 img
    {
        width:16pc;
        height:15pc;
    }
    div.container3 img{
        width: 19pc;
    }
    div.product-section{
        columns: 1;
    }
    .footer-container{
        columns: 1;

        
    }
    footer .fa-solid{
        font-size: 10px;
        margin-left: -437px;
    }

}
@media screen and (width:980px) {
   
    div.container2 img{
        margin-left: -168px;
    }
    div.container3 img{
        width: 25pc;
    }
    div.container1{
        padding: 16px;
        line-height: 19px;
    }
    div.container4 img{
        width: -webkit-fill-available;
    }
    div.map iframe{
        width:440px; 
        height:388px;
    }
}
@media screen and (max-width:390px) {
    
    section{

        margin-bottom: -202px;
        width: 100%;
        height:fit-content;
        padding-bottom: 35px;
    }
    div.product-section1{
        columns:1;

    }
    div.container7{
        columns: 1;
    }
    div.container10{
        flex-direction: column;
        margin-top: 510px;
        text-align: -webkit-center;
        gap: 20px;

    }
   img#img1{
    margin-left: 0px;
   }
   img#img2{
    margin-left: 0px;
   }
   img#img3{
    margin-left: 0px;
   }
    div.product-section1 img{
        width:370px
    }
    div.game-section{
        
    margin-top: 210px;
    margin-right: 149px;
    }
    div.video-text p{
        padding-left: 17px;
        padding-right: 0px;
    }
    button.btn4{
        margin-left: 20px;
    }
    div.map iframe{
        width:305px; 
        height:388px;
    }
    div.container5 {
       
    columns: 2;
    column-gap: 196px;
    }
    div.container6{
        padding: 56px;
    }
    input#btn3{
    padding-right: 12px;
    padding-left: 12px;
    }
    input{
    padding-right: 75px;
    padding-left: 75px;

    }
    textarea{
    width:100%
    }
    /* div.card{
    width: 111px;
    height: 217px;
    } */
    div.container9{
        flex-direction: column;
        align-items: baseline;
        margin-top: 441px;
    }
    
}

